cmake-build-debug/
.idea/workspace.xml
/2_04_03.spc
ref.spc
.idea/vcs.xml
.idea/misc.xml
.idea/deployment.xml
.idea/.name
.idea/modules.xml
.idea/chase.ims
obj_linux_64
.idea/chase.iml
tests/
test.in
build/
.vscode/
CMakeCache.txt
CMakeFiles/*
venv/*
.idea/repo.iml
.idea/shelf/Uncommitted_changes_before_Checkout_at_11_9_2020_4_18_PM__Default_Changelist_.xml
.idea/shelf/Uncommitted_changes_before_Checkout_at_11_9_2020_4_18_PM_\[Default_Changelist\]/shelved.patch
demo/Timing/template_0_synthesizable.structuredslugs
.idea/CHASE.iml
output.smv